[alias]
# 重定向所有常用git命令到拦截器
add = !bash scripts/git-interceptor add "$@"
commit = !bash scripts/git-interceptor commit "$@"
push = !bash scripts/git-interceptor push "$@"
cherry-pick = !bash scripts/git-interceptor cherry-pick "$@"
revert = !bash scripts/git-interceptor revert "$@"
apply = !bash scripts/git-interceptor apply "$@"
merge = !bash scripts/git-interceptor merge "$@"
reset = !bash scripts/git-interceptor reset "$@"
clean = !bash scripts/git-interceptor clean "$@"
checkout = !bash scripts/git-interceptor checkout "$@"
branch = !bash scripts/git-interceptor branch "$@"
rebase = !bash scripts/git-interceptor rebase "$@"
tag = !bash scripts/git-interceptor tag "$@"
stash = !bash scripts/git-interceptor stash "$@"
